#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: white;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
nav {
    display: flex;
    justify-content: space-around; 
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: rgb(233, 233, 233);
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.home-title {
    font-family: 'sans-serif', 'Rock Salt', 'Bradley Hand' ;
    font-size: 2em;
    margin-top: 10px;
    color: darkcyan;
}
header { 
    background-color: turquoise;
    display: grid;
    grid-template-columns: 150px auto;
}
h2 {
    margin: 0;
}
nav a:hover {
    background-color: cornflowerblue;
    color: black;
}
.book, .join {
    background-color: darkgrey;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover { 
    background-color: rgb(96, 91, 124);
     color: black; 
}
#background {
    background-color: rgba(64, 224, 208, 0.76);
    grid-column: 1/11;
    grid-row: 4/9;
}
.msg {
    background-color: rgb(252, 252, 124);
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
footer {
    background-color: rgba(86, 86, 221, 0.774);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.msg h2 { 
    color: black;
}
.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}
footer h3 { 
    color: black;
}
main section img {
    box-sizing: border-box;
}
footer a {
    color: black;
    text-decoration: none;
}
footer a:hover {
    color: black;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
#hero-img {
    width: 100%;
}
footer h3 a:hover {
    text-decoration: underline;
}
#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card  {
    margin: 200px 0;
}
.card-img {
    border: 10px solid turquoise;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img, .mountains {
    width: 100%;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}