#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}
header {
    background-color: #F4E04D;
}
nav {
    display: flex;
    justify-content: space-around; 
    background-color: #F4E04D;
}
.first { 
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
    font-size: 50px;
    background-color: #FF7733;
    border: 3px #E15634 solid;
}
.title {
    margin-left: 50px;
}
.second {
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.one {
    font-size: 22px;
    margin-left: 50px;
    margin-right: 50px;
}
.two {
    font-size: 22px;
    margin-left: 50px;
    margin-right: 50px;
}
.three {
    font-size: 22px;
    margin-left: 50px;
    margin-right: 50px;
}
.four {
    font-size: 22px;
    margin-left: 50px;
    margin-right: 50px;
}
.five {
    font-size: 22px;
    margin-left: 50px;
    margin-right: 50px;
}
.six {
    font-size: 22px;
    margin-left: 50px;
    margin-right: 50px;
}
.seven {
    font-size: 22px;
    margin-left: 50px;
    margin-right: 50px;
}
.eight {
    font-size: 22px;
    margin-left: 50px;
    margin-right: 50px;
}
.nine {
    font-size: 22px;
    margin-left: 50px;
    margin-right: 50px;
}

nav a {
    font-size: 40px;
    margin: 10px 0px;
}
.smile {
    max-width: 600px;
}
.rooster {
    max-width: 600px;
}
.pig {
    max-width: 600px;
}
.balloon {
    max-width: 600px;
}
.jump {
    max-width: 600px;
}
.stuffed {
    max-width: 600px;
}
.bubble {
    max-width: 600px;
}
.monkey {
    max-width: 600px;
}
.last {
    max-width: 600px;
}
.foot {
    background-color: #E15634;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
}
.back {
    margin-bottom: 10px;
}