#content {
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}
#feedback {
    border: 15px solid #E15634;
}
#lol {
    overflow: hidden;
}
.fa-face-grin-squint-tears:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    color: darkblue;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    color: darkblue;
    text-decoration: underline;
    font-weight: bolder;
}
header {
    box-shadow: 5px 5px 10px #6f7364;
    background-color: #F4E04D;
}
nav {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-around; 
    background-color: #F4E04D;
}
.first { 
    box-shadow: 5px 5px 10px #6f7364;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
    font-size: 60px;
    background-color: #FF7733;
    border: 3px #E15634 solid;
    font-family: 'Bangers', cursive;
}
.title {
    font-family: 'Open Sans', sans-serif;
    box-shadow: 5px 5px 10px #6f7364;
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
    font-size: 35px;
    background-color: black;
    color: white;
    padding: 5px 0;
}
.second {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.one {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.two {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.three {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.four {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.five {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.six {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.seven {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.eight {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.nine {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.ten {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.eleven {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.twelve {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.thriteen {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.fourteen {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.fifteen {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.sixteen {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.seventeen {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.eighteen {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.nineteen {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.twenty {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.twenty-one {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.twenty-two {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.twenty-three {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.twenty-four {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.twenty-five {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
    
}
.twenty-six {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.twenty-seven {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.yolo {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.laugh {
    box-shadow: 5px 5px 10px #6f7364;
    background-color: #FF7733;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px 100px;
    margin-bottom: 0%;
    justify-content: space-around;
}
nav a {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    margin: 10px 0px;
}
.smile {
    margin-left: 10px;
    grid-column: 1/2;
    max-width: 600px;
    height: 350px;
    border: 10px solid #E15634;
}
.rooster {
    margin-left: 50px;
    float: left;
    width: 400px;
    max-width: 600px;
}
.pig {
    grid-column: 2;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    height: 350px;
    border: 10px solid #E15634;
}
.balloon {
    margin-right: 50px;
    float: right;
    width: 400px;
    max-width: 600px;
    border: 15px solid #E15634;
    box-shadow: 5px 5px 10px #6f7364;
}
.jump {
    float: left;
    margin-left: 50px;
    margin-right: 50px;
    width: 600px;
    max-width: 600px;
    border: 15px solid #E15634;
    box-shadow: 5px 5px 10px #6f7364;
}
.stuffed {
    margin-right: 50px;
    float: right;
    width: 550px;
    max-width: 600px;
    border: 15px solid #E15634;
    box-shadow: 5px 5px 10px #6f7364;
}
.bubble {
    margin-right: 50px;
    float: right;
    width: 550px;
    max-width: 600px;
    border: 15px solid #E15634;
    box-shadow: 5px 5px 10px #6f7364;
}
.monkey {
    margin-right: 50px;
    margin-left: 50px;
    float: left;
    width: 550px;
    max-width: 600px;
    border: 15px solid #E15634;
    box-shadow: 5px 5px 10px #6f7364;
}
.last {
    margin-right: 50px;
    float: right;
    width: 550px;
    max-width: 600px;
    border: 15px solid #E15634;
    box-shadow: 5px 5px 10px #6f7364;
}
.foot {
    font-family: 'Open Sans', sans-serif;
    box-shadow: 5px 5px 10px #6f7364;
    background-color: #E15634;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    color: black;
}
#abc {
    color: black;
    text-decoration: none;
}
#zyx {
    color: black;
    text-decoration: none;
}
#abc:hover {
    color: darkblue;
    text-decoration: underline;
    font-weight: bolder;
}
#zyx:hover {
    color: darkblue;
    text-decoration: underline;
    font-weight: bolder; 
}