#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}
header {
    box-shadow: 5px 5px 10px #6f7364;
    background-color: #F4E04D;
}
nav {
    display: flex;
    justify-content: space-around; 
    background-color: #F4E04D;
}
.first { 
    box-shadow: 5px 5px 10px #6f7364;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
    font-size: 50px;
    background-color: #FF7733;
    border: 3px #E15634 solid;
}
.title {
    box-shadow: 5px 5px 10px #6f7364;

    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
    font-size: 35px;
}
.second {
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.one {
    font-size: 22px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.two {
    font-size: 22px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.three {
    font-size: 22px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.four {
    font-size: 22px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.five {
    font-size: 22px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.six {
    font-size: 22px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.seven {
    font-size: 22px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.eight {
    font-size: 22px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.nine {
    font-size: 22px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.laugh {
    box-shadow: 5px 5px 10px #6f7364;
    background-color: #FF7733;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px 100px;
    margin-bottom: 0%;
    justify-content: space-around;
    
}
nav a {
    font-size: 40px;
    margin: 10px 0px;
}
.smile {
    margin-left: 10px;
    grid-column: 1/2;
    max-width: 600px;
    height: 350px;
    border: 10px solid #E15634;
}
.rooster {
    margin-left: 50px;
    float: left;
    width: 400px;
    max-width: 600px;
}
.pig {
    grid-column: 2;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    height: 350px;
    border: 10px solid #E15634;
}
.balloon {
    max-width: 600px;
}
.jump {
    max-width: 600px;
}
.stuffed {
    max-width: 600px;
}
.bubble {
    max-width: 600px;
}
.monkey {
    max-width: 600px;
}
.last {
    max-width: 600px;
}
.foot {
    box-shadow: 5px 5px 10px #6f7364;
    background-color: #E15634;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
}
.back {
    margin-bottom: 10px;
}